@keyframes pulseBoxShadow
	0%
		box-shadow: 0 0 0 0 rgba(darken($ch-blue, 5%), .6), 0 0 0 0 rgba(darken($ch-blue, 5%), .6)
	70%
		box-shadow: 0 0 0 12px rgba(darken($ch-blue, 5%), 0), 0 0 0 22px rgba(darken($ch-blue, 5%), 0)
	100%
		box-shadow: 0 0 0 0 rgba(darken($ch-blue, 5%), 0), 0 0 0 0 rgba(darken($ch-blue, 5%), 0)