body
	font-family: gml, sans-serif
	min-width: 320px

.ch-title
	font-family: yo, sans-serif
	font-size: 5.2rem
	line-height: 1
	margin-bottom: 1rem
	&--white
		color: $ch-white

	+mq(xl)
		font-size: 4.6rem
	
	+mq(sm)
		font-size: 3.8rem
	+mq(413px)
		font-size: 3.6rem

.ch-description
	color: $ch-white
	font-size: 3rem
	line-height: 1.2
	&--dark
		color: $ch-dark
	+mq(1370px)
		font-size: 2.6rem
	+mq(xl)
		font-size: 2.4rem
	+mq(sm)
		font-size: 2rem
	