.bg
	background-repeat: no-repeat
	background-size: cover
	+mq(md)
		background-position: center

	&--s-1
		background-image: url(../img/select1.png)

	&--s-2
		background-image: url(../img/select2.png)

	&--s-3
		background-image: url(../img/select3.png)

	&--service
		background-image: url(../img/selectbg.png)
		background-position-x: center
		+mq(md)
			background-position: top center

	&--remont
		background-image: url(../img/bg-remont.png)

	&--diagnostic
		background-image: url(../img/bg-diagnostick.png)

	&--auto_usa
		background-image: url(../img/bg-usa.png)
		+mq(1900px)
			background-position-y: 57px
		+mq(1700px)
			background-position-x: right
		+mq(1380px)
			background-position-x: -520px
		+mq(lg)
			background-position: 0 0

	&--delivery
		background-image: url(../img/bg-delivery.png)

	&--sertif
		background-image: url(../img/bg-sertif.png)
		background-position-y: 66px
		+mq(lg)
			background-position-y: 0
			background-position-x: right

	&--form
		background-image: url(../img/bg-form.jpg)

	&--autoservice
		background-image: url(../img/bg-autoservice.png)
		+mq(xl)
			background-position-x: center

	&--autoservice-form
		background-image: url(../img/bg-form-top.png)
		background-size: contain
		+mq(md)
			background-image: none

	&--autoservice-form-inner
		background-image: url(../img/bg-form-inner.png)
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.14)
		padding: 50px 0
		+mq(xl)
			padding-left: 30px
			padding-right: 30px
		+mq(md)
			padding-left: 15px
			padding-right: 15px

	&--white-blue
		background-color: $dl-white_blue