.dl-btn
  display: inline-block
  text-align: center
  height: 6rem
  padding: 0 4rem
  color: $dl-white
  background-size: cover
  background-repeat: no-repeat
  font-size: 36px
  max-width: 29.6rem
  width: 100%
  white-space: nowrap
  user-select: none
  cursor: pointer
  transition: color .25s, box-shadow .25s, background-color .25s
  position: relative
  transition: background .5s, box-shadow .5s
  border-radius: 5px
  &--full
    max-width: 100%
    width: auto
  &--border-white
    border: 3px solid $dl-white
    font-weight: bold
    background-color: transparent

  
  &--dark-border
    border: 1px solid $dl-dark
    background: $dl-white
    color: $dl-dark
    &:hover
      background: $dl-dark 
      color: $dl-white

  &:focus
    outline: none
  &:active,
  &:visited,
  &:hover,
  &:link
    // color: $text-color
    text-decoration: none
  &:hover
    background-size: 100% 100%
    box-shadow: 0px 20px 30px -20px rgba(1, 1, 1, 0.3)
    color: $dl-white


  &--white
    color: $dl-dark-btn
    background: $dl-white
    &:hover
      color: $dl-dark-btn
  
  &--target
    // animation: ch-pulse .5s infinite cubic-bezier(0.64, 0.57, 0.67, 1.53)
    overflow: hidden
    animation: jittery 4s infinite
    &:hover
      animation: heartbeat 0.2s infinite

  &--shine
    overflow: hidden

    &::before
      content: ''
      position: absolute
      display: block
      animation: move 2s infinite
      // filter: blur(5px)
      opacity: .5
      height: 100%
      width: 15px

    &-white
      &::before
        background: rgba($dl-dark,0.8)
    &-dark
      &::before
        background: rgba($dl-white,0.8)

@keyframes pulse
  0%
    transform: scale(1)
  50%
    transform: scale(.98)
  100%
    transform: scale(1)

@keyframes move
  0%
    transform: translateX(-100px) skewX(-15deg) scaleX(1)
    opacity: 0
  15%
    opacity: 0
  48%
    opacity: 1

  80%
    opacity: 0
  100%
    transform: translateX(330px) skewX(-15deg) scaleX(1)

@keyframes jittery
  5%,
  50%
    transform: scale(1)
  10%
    transform: scale(0.95)
  15%
    transform: scale(1.05)
  20%
    transform: scale(1.05) rotate(-5deg)
  25%
    transform: scale(1.05) rotate(5deg)
  30%
    transform: scale(1.05) rotate(-3deg)
  35%
    transform: scale(1.05) rotate(2deg)
  40%
    transform: scale(1.05) rotate(0)

@keyframes heartbeat
  50%
    transform: scale(1.05)