.ch-form
	
	&--black
		.form-group
			[type='text']
				background: #0f0f10
				color: $dl-white
				border-bottom: 1px solid #363636

			&::before
				color: $dl-blue
.form-group
	position: relative
	br
		display: none
	&::before
		content: ''
		font-family: ci
		color: #ccc
		position: absolute
		top: 50%
		transform: translateY(-50%)
		font-size: 2.4rem
		z-index: 5
		left: 5px

	.wpcf7-not-valid-tip
		position: absolute
		width: 100%
		right: 0
		text-align: left
		left: 0

	.wpcf7-form-control-wrap
		position: static
		
	&--name
		&::before
			content: '\e917'

	&--phone
		&::before
			content: '\e913'


[type='text'], [type='tel']
	height: 54px
	border: none
	background-color: transparent
	border-bottom: 1px solid $dl-white
	font-size: 20px
	width: 100%
	border-radius: 0
	transition: border .2s ease-in
	color: $dl-white
	&:focus
		outline: none
		border-bottom: 1px solid $dl-red
