

@include icomoon('ci', 'fonts/icomoon/icomoon', (
	arrow: "\e900",
	arrow_xl: "\e911",
	name: "",
	phone: "\e907",
	smartfon: "\e908",
	message: "",
	auto: "\e90a", 
	autoup: "\e903",
	tg: "\e909",
	vb: "\e90b"
))   