@include icomoon('ci', 'fonts/icomoon/icomoon', (
	arrow: "\e900", 
	arrow_xl: "\e911",
	name: "",
	phone: "\e907",
	smartfon: "\e908",
	message: "", 
	geo: "\e90d",

	auto: "\e90a",
	repair: "\e903",
	calc: "\e901",
	progres: "\e904",
	wallet: "\e90c",
	delivery: "\e912",
	clearance: "\e906",
	sertif: "\e905",

	garage: "\e914",
	price: "\e913",

	tg: "\e909",
	vb: "\e90b",
	fb: "\e915",
	ig: "\e916",

	firesystem: "\e91b",
	diagnostick: "\e910",
	acumulator: "\e917",
	braces: "\e918",
	vaccination: "\e920",

	transmission: "\e91f",
	engine: "\e919",
	climatcontrol: "\e91a",
	markizator: "\e91c",
	settings: "\91e",
	helm: "\e91d",
	car: "\e902"

))   