

@include icomoon('ci', 'fonts/icomoon/icomoon', (
	arrow: "\e900",
	diamant: "\e904",
	cauldron: "\e905",
	geoway: "\e90b",
	arrow_xl: "\e901",
	download: "\e906",
	name: "\e910",
	tell: "\e912",
	consult-check: "\e914",
	message: "\e90e",
	bell: "\e902",
	doc: "\e911",
	watch: "\e919",
	fast-forward: "\e909",
	geoloc: "\e90a",
	tg: "\e915",
	wu: "\e91a",
	ig: "\e918",
	fb: "\e90c",
	vb: "\e908",
))   