.dl-features
	&__item
		padding-top: 80px 
		padding-bottom: 100px
		background-color: $dl-white
		border-radius: 5px
		box-shadow: 0px 20px 30px rgba(99, 94, 94, 0.17)
		height: 100%
		+mq(sm)
			padding-top: 40px
			padding-bottom: 40px

	&__title
		margin-bottom: 50px
		+mq(sm)
			margin-bottom: 30px

	&__garage
		font-size: 46px

	.dl-ico
		margin-bottom: 20px
		&::before
			font-size: 54px



	&__desk
		display: flex
		justify-content: center
		span
			max-width: 252px
			color: $dl-dark

// .page-id-20
// 	.dl-features
// 		.dl-ico
// 			margin-bottom: 20px
// 			&::before
// 				font-size: 54px