.dl-hero
	&__slider
		height: 100%

	&__slide
		height: 100%

	&__overlay
		height: 100%
		display: flex
		align-items: center
		flex-direction: column
		justify-content: center
		+mq(lg)
			padding: 60px 0

	&__title
		margin-top: 30px

	&__btn-wrap
		margin-top: 33px
		+mq(lg)
			display: flex

			justify-content: center